<section class="hyplist">

  <h1>Your hyplist</h1>
  <%= erb :_hyplist %>


</section>

<section class="search">
  <h2>Add a movie to your list!</h2>
  <%= erb :_search_movies_form %>

  <div class="search-results">
  </div>
</section>