<nav>
  <% if current_user %>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/logout">Sign Out</a></li>
      <li><a href="/user/<%=session[:user_id]%>">Watched</a></li>
  <% end %>
</nav>